* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.bx-shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.border-line {
  position: relative;
  padding-left: 0.5em;
}

.border-line::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 4px;
}

.title {
  font-size: 1.6em;
  color: var(--text-color);
}
